<content xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<presenter name="json" class="ItePHP\Presenter\JSON">
		<method name="__construct">
			<argument type="reference" value="environment" />
		</method>
	</presenter>

	<presenter name="html" class="ItePHP\Presenter\HTML">
		<method name="__construct">
			<argument type="reference" value="environment" />
		</method>
	</presenter>

	<error pattern=".*\.json" response="json" />
	<error pattern=".*" response="html" />

</content>
