<?xml version="1.0" ?>

<content xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <event bind="executeAction" class="ItePHP\Event\Authenticate" method="doExecuteAction">
    	<method name="__construct">
    		<argument type="primitive" value="1200" />
    	</method>
    </event>
</content>
