<?xml version="1.0" ?>

<content xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<event class="Asset\Root\Event\TestEvent">
		<method name="__construct">
			<argument type="reference" value="test" />
		</method>
		<bind name="executeAction" method="doExecuteAction" />
		<bind name="executedAction" method="doExecutedAction" />
	</event>

	<event class="ItePHP\Event\Argument">
		<method name="__construct">
			<argument type="reference" value="validator" />
		</method>		
		<bind name="executeAction" method="onExecuteAction" />
	</event>

</content>
