<?xml version="1.0" ?>

<content>

	<event class="Test\Asset\Root\Event\TestEvent">
		<method name="__construct">
			<argument type="reference" value="service.test" />
		</method>
		<bind name="executeAction" method="doExecuteAction" />
		<bind name="executedAction" method="doExecutedAction" />
	</event>

	<event class="ItePHP\Action\ArgumentEvent">
		<method name="__construct">
			<argument type="reference" value="container" />
		</method>		
		<bind name="executeAction" method="onExecuteAction" />
	</event>

</content>
