<?xml version="1.0" ?>

<content xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<authenticate max-time="10" />

	<action class="Controller\TestController" method="required" route="\/required" presenter="ItePHP\Presenter\HTML">
		<authenticate unauth-redirect="/login" />
	</action>

	<action class="Controller\TestController" method="notrequired" route="\/notrequired" presenter="ItePHP\Presenter\HTML">
		<authenticate auth-redirect="/logout" />
	</action>

	<action class="Controller\TestController" method="notrequired" route="\/notrequired" presenter="ItePHP\Presenter\HTML">
		<authenticate />
	</action>

</content>
