<content xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<presenter name="json" class="@class">
		<method name="__construct">
			<argument type="primitive" value="!true" />
			<argument type="primitive" value="!false" />
			<argument type="primitive" value="!1432" />
			<argument type="primitive" value="!1432.321" />
			<argument type="primitive" value="!null" />
			<argument type="primitive" value="data" />
		</method>
	</presenter>

	<presenter name="json" class="@unknown">
		<method name="__construct">
			<argument type="primitive" value="!invalid" />
		</method>
	</presenter>

	<variable name="class" value="ItePHP\Presenter\JSON" />

</content>
