<?xml version="1.0" ?>

<content>

	<action class="Asset\Root\Controller\TestController" method="argument" path="\/argument" presenter="ItePHP\Presenter\HTML">
		<argument storage="get" name="var" />
		<argument storage="post" name="data2" />
		<argument storage="url" name="id" pattern="\/test\/([0-9]+)" />
	</action>

	<action class="Asset\Root\Controller\TestController" method="argument" path="\/argument" presenter="ItePHP\Presenter\HTML">
		<argument storage="get" name="var" default="3" />
		<argument storage="post" name="data2" default="2" />
		<argument storage="url" name="id" pattern="\/test\/([0-9]+)" default="1" />
	</action>

	<action class="Asset\Root\Controller\TestController" method="argument" path="\/argument" presenter="ItePHP\Presenter\HTML">
		<argument storage="get" name="var" default="123321222">
			<validator class="Judex\Validator\PhoneNumberValidator" />
			<validator class="Judex\Validator\NotEmptyValidator" />
		</argument>
		<argument storage="post" name="data2">
			<validator class="Judex\Validator\PhoneNumberValidator">
				<method name="__construct">
					<argument type="primitive" value="Custom message." />
				</method>
			</validator>
		</argument>
		<argument storage="url" name="id" pattern="\/test\/([0-9]+)">
			<validator class="Judex\Validator\PhoneNumberValidator" />
		</argument>
	</action>

	<action class="Asset\Root\Controller\TestController" method="argument" path="\/argument" presenter="ItePHP\Presenter\HTML">
		<argument storage="get" name="var" mapper="Test\Asset\Action\ArgumentEvent\NumberMapper" />
		<argument storage="post" name="data2" mapper="Test\Asset\Action\ArgumentEvent\NumberMapper" />
		<argument storage="url" name="id" pattern="\/test\/(.+)" mapper="Test\Asset\Action\ArgumentEvent\NumberMapper" />
	</action>

</content>
